/**
 * @name Role Tags Tweaks
 * @author Seth#0008
 * @version 1.0.1
 * @description Changes role tags in user member list popout
*/

#app-mount .roleCircle-1EgnFN {
	border-radius: 0%;
	width: 5px;
	height: 22px;
}

#app-mount .roleCircle-1EgnFN::after {
	content: "";
	position: absolute;
	height: 22px;
	width: 100%;
	left: 4px;
	background: inherit;
	opacity: 0.60;
	z-index: -1;
}

#app-mount .role-2TIOKu {
	position: relative;
	z-index: 1;
	background: inherit;
	border-radius: 0px; 
	height: 22px;
	margin: 0px 4px 4px 0px;
	padding: 4px 4px 4px 0px;
}